<a href="https://colab.research.google.com/github/yeahginny/Python/blob/main/100%EC%A0%9C_1%EB%B2%88%EB%B6%80%ED%84%B0_100%EB%B2%88%EA%B9%8C%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번

In [ ]:
nums = [100, 200, 300, 400, 500]

In [ ]:
# 정답1
nums.pop()
nums.pop()

In [ ]:
# 정답2
nums[:3]

In [ ]:
nums = [100, 200, 300, 400, 500]
nums[-5:-2]

[100, 200, 300]

# 2번

In [ ]:
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

In [ ]:
# l[:2] + [10000] + l[-1] #error
l[:2] + [10000] + [l[-1]]

[200, 100, 10000, 300]

# 5번

In [ ]:
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a + b)

1
3
16

# 6번

In [ ]:
# 다음중 True인 것은? 2번
# 1)  None
# 2)  1
# 3)  ""
# 4)  0
# 5)  bool(0)

In [ ]:
bool([]) # False
bool([1, 2, 3]) # True

In [ ]:
# l의 값이 변한 적이 있다? 없다. 그런데 왜 bool 값은 변했을까?
l = []
print(id(l))
print(bool(l))

135607005592640
False

In [ ]:
l.append(10)
l
print(id(l))
print(bool(l))

135607005592640
True

In [ ]:
# Python은 지극히 인간의 입장에서 출력을 고려한 것입니다.

In [ ]:
l = '' #immutable
print(id(l))
print(bool(l))

In [ ]:
l = 'a'
print(id(l))
print(bool(l))

#7번

In [ ]:
# 언더바 변수에 대하여
# 반복문 등에서 사용하지 않는 변수에 _를 넣습니다.
for _ in range(5):
    print('hello')

# 프라이빗한 변수에서 _를 사용합니다.
class Human():
    _age = 0

# 8번

In [ ]:
d = {'height':180,
     'weight':78,
     'weight':84,
     'temparture':36,
     'eyesight':1}
print(d['weight'])

84

# 9번

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

# 10번

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********

In [ ]:
n = 5
for i in range(1, n+1):
    print(i)

1
2
3
4
5

In [ ]:
n = 5
for i in range(1, n + 1):
    print(((n - i) * ' ') + '*')

    *
   *
  *
 *
*

In [ ]:
n = 5
for i in range(1, n + 1):
    print(((n - i) * ' ') + (((2 * i) - 1)) * '*')

    *
   ***
  *****
 *******
*********

# 11번

In [ ]:
s = 0
for i in range(1, 101):
    s += i
print(s)

5050

# 12번

In [ ]:
class Wizard:
    def __init__(self, health, mana, armor):
        '''
        self는 인스턴스, 인스턴스 메모리 영역
        '''
        self.health = health
        self.mana = mana
        self.armor = armor

    def attack(self):
        print('파이어볼')


jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()

545 210 10
파이어볼

# 14번
문제가 너무 쉬워 아래 문제로 풀도록 하겠습니다.

* 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120871?language=javascript

In [ ]:
# 이러한 조건 문제에서 문제가 쉽게 풀리지 않을 경우
# 소거법을 사용하시는 방법으로 푸시면 좀 더 쉽게 풀 수도 있습니다.

[i for i in range(100) if i % 3 != 0] # 3의 배수 제거!
[i for i in range(100) if '3' not in str(i)] # 3이 들어가 있는 숫자 제거!

[i for i in range(100) if i % 3 != 0 and '3' not in str(i)][9-1]
[i for i in range(100) if i % 3 != 0 and '3' not in str(i)][10-1]

solution = lambda n:[i for i in range(10000) if i % 3 != 0 and '3' not in str(i)][n-1]
solution(9)

14

# 16번

In [ ]:
'안녕하세요'[::-1]

'요세하녕안'

In [ ]:
''.join(list(reversed(list('안녕하세요'))))

'요세하녕안'

In [ ]:
s = '안녕하세요'
ss = list(s)
ss.reverse()
''.join(ss)

'요세하녕안'

In [ ]:
s = '안녕하세요'
result = ''
for i in s:
    result = i + result
result

'요세하녕안'

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('안녕하세요')

'요세하녕안'

# 17번

In [ ]:
height = 150

if height >= 150: print('YES')

YES

In [ ]:
height = 149

# print('NO') if height >= 150: print('YES') # Error
print('YES') if height >= 150 else print('NO')

NO

In [ ]:
def solution(height):
    return 'YES' if height >= 150 else 'NO'

solution(150)

'YES'

# 18번

In [ ]:
list(map(int, '20 30 40'.split(' ')))

[20, 30, 40]

In [ ]:
sum(map(int, '20 30 40'.split(' '))) / 3

30.0

# 21번

In [ ]:
# 1)  x = {1, 2, 3, 5, 6, 7}
# 2)  x = {} # dict
# 3)  x = set('python')
# 4)  x = set(range(5))
# 5)  x = set()

In [ ]:
t = 1
t = (1) # tuple 아님!
t = (1,)
t

# 어떤 라이브러리나 프레임웤 마지막 콤마가 꼭 있는 이유(3 ~ 4개 있습니다.)
# 버전관리하는 곳에서 콤마를 버전의 업이라고 인식하는 경우가 있습니다.
# Ctrl + C, V
# 튜플인경우 상수, 문자가 들어갔을 때 튜플이 아닌 int, str로 변환되는 것을 막기 위해
옵션 = (
    'a',
)

(1,)

# 24번

In [ ]:
'mary'.upper()

'MARY'

In [ ]:
ord('a')

97

In [ ]:
ord('A')

65

In [ ]:
ord('a') - ord('A')

32

In [ ]:
ord('a') - 32

65

In [ ]:
chr(ord('a') - 32)

'A'

In [ ]:
for i in 'mary':
    print(chr(ord(i) - 32), end='') # 완벽한 코드는 아니고, 소문자인 것을 판단하는 if가 위에 있어야 합니다.

MARY

In [ ]:
# 도대체 이런 지식은 어디에 쓸모가 있을까요? 인코딩쪽에서 어떤 인코딩인지 확인하는 용도로 사용하기도 합니다.
# 알고리즘은 얼마나 쓸모가 있나요? 코드를 읽는 속도와 이해하는 속도에 도움을 줍니다.
# => 코드는 AI가 더 잘짭니다.ㅎㅎ 잘 짠것을 확인해주는 작업은 내가 해야 합니다.

# 26번 문제

In [ ]:
key = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'.split(', ')
value = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'.split(', ')

In [ ]:
dict(zip(key, value))

{'수성': 'Mercury',
 '금성': 'Venus',
 '지구': 'Earth',
 '화성': 'Mars',
 '목성': 'Jupiter',
 '토성': 'Saturn',
 '천왕성': 'Uranus',
 '해왕성': 'Neptune'}

# 28번

In [ ]:
s = 'python'
for i in range(len(s)-1): # 아래 zip에서는 -1을 고려하지 않아도 됩니다.
    print(s[i:i+2])

py
yt
th
ho
on

In [ ]:
s = 'python'
list(zip(s, s[1:])) # 짝이 안맞으면 어차피 생성하지 않습니다.

[('p', 'y'), ('y', 't'), ('t', 'h'), ('h', 'o'), ('o', 'n')]

In [ ]:
s = 'python'
for i in zip(s, s[1:]):
    print(''.join(i))

py
yt
th
ho
on

In [ ]:
s = 'life is short, you need python'
for i in range(len(s)-2): # zip에서는 -2을 고려하지 않아도 됩니다.
    print(s[i:i+3])

In [ ]:
p = [1, 3, 5, 7, 11, 14, 19, 21, 22]
list(zip(p, p[1:]))
list(map(lambda x:x[1]-x[0], zip(p, p[1:])))

[2, 2, 2, 4, 3, 5, 2, 1]

# 29번
* 문제 변경: 대문자만 지나가도록 코딩해주세요. 'HellO WoRld' -> HOR

In [ ]:
for s in 'HellO WoRld':
    if s != s.lower():
        print(s)

H
O
W
R

In [ ]:
for s in 'HellO WoRld':
    if 'A' <= s <= 'Z':
        print(s)

H
O
W
R

In [ ]:
for s in 'HellO WoRld':
    if s.isupper(): # 서영님께서 말씀해주신 코드가 가장 좋은 코드라고 생각합니다.
        print(s)

H
O
W
R

# 30번

In [ ]:
'pineapple is yummy apple'.find('apple') # 없는 것을 찾을 때 -1
'pineapple is yummy apple'.index('xpple') # 없는 것을 찾을 때 error <- error가 나면 서비스 멈춥니다!
# 예를 들어 주기적으로 크롤링하는 코드가 있다면
# find를 쓰셔서 error가 안나고 다음 코드로 넘어가게 코딩하실 수 있습니다.
# 예외처리를 하는 것이 가장 좋습니다.
# 정답: 목적에 맞게 사용하셔야 합니다.

In [ ]:
'pineapple is yummy apple'.rfind('apple')
'pineapple is yummy apple'.rindex('apple')

19

In [ ]:
'pineapple is yummy apple'.find('apple', 10)
'pineapple is yummy apple'.index('apple', 10)

19

# 31번

In [ ]:
# https://wayhome25.github.io/python/2017/06/14/time-complexity/
# 1)  l[i]
# 2)  l.append(5)
# 3)  l[a:b] # 정답
# 4)  l.pop()
# 5)  l.clear()

In [ ]:
# 그럼에도 불구하고 슬라이싱을 사용해야 할 경우
# error를 발생시키지 않기 때문에

l = [1, 2, 3, 4, 5]

# l[10]  # out of range error!
l[10:11] # out of range error가 안남! 그런데 기능은 같음!

[]

# 35번

In [ ]:
# 매우매우 중요한 내용

def one(n):
    def two(value):
        return value ** n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [ ]:
# 객체지향 프로그래밍 예제
class Book:
    def __init__(self, title, content, author, pub_date):
        self.title = title
        self.content = content
        self.author = author
        self.pub_date = pub_date

    def calculate_date(self):
         self.pub_date - self.current_date

In [ ]:
# 1. 함수를 변수에 할당할 수 있습니다.
# 2. 함수를 데이터 구조에 저장할 수 있습니다.
# 3. 함수를 인자로 다른 함수에 전달할 수 있습니다.
# 4. 함수를 결과로서 반환할 수 있습니다.

In [ ]:
def add(x, y):
    return x + y

x = add
x(10, 20)

30

In [ ]:
id(x), id(add)

(137346919024960, 137346919024960)

In [ ]:
test = [x, add]

test[0](10, 20)

30

In [ ]:
# book크롤링데이터 = [인스턴스1, 인스턴스2, 인스턴스3...]
# json으로 변환, csv로 변환한다던지..

In [ ]:
def add():
    return lambda x:x**2

x = add()
x(10)

100

In [ ]:
def add():
    return lambda x:x**2

add()(10)

100

In [ ]:
def add(x, y):
    def test(x):
        return x * 2
    test(x)
    return 'hello'

add(10, 20)

'hello'

In [ ]:
def sub(x, y):
    return x - y

def add(x, y, f):
    def test(x):
        return x * 2
    test(x)
    return 'hello'

add(10, 20, sub) # 콜백함수

map(int, ['1', '2']) # int를 콜백함수라고도 부릅니다.

In [ ]:
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같습니다.

In [ ]:
def simple_decorator(function):
    def wrapper(l):
        print("Before the function call")
        print(function(map(int, l)))
        print("After the function call")
    return wrapper

@simple_decorator
def 합(l):
    return sum(l)

합([1, 2, 3, '4'])

Before the function call
10
After the function call

In [ ]:
def debug(function):
    def new_function(*args):
        print(f'{function.__name__} 함수 시작')
        print(*args)
        result = function(*args)
        print(f'{function.__name__} 함수 끝')
        # return result # return 값이 있는 데코레이터는 바로 뒤에서 진행합니다.

    return new_function


@debug
def sum_1_to_n(n):
    return n * (n + 1) / 2


result = sum_1_to_n(30)

print(result)

sum_1_to_n 함수 시작
30
sum_1_to_n 함수 끝
None

In [ ]:
def test(*args):
    for i in args:
        print(i)

test(1, 2, 3, 4, 5, 'hello world')

1
2
3
4
5
hello world

In [ ]:
def test(**kargs):
    print(kargs)
    for i in kargs:
        print(i)

test(one=1, two=2)

{'one': 1, 'two': 2}
one
two

In [ ]:
def decorator1(function):
    def new_function(*args, **kwargs):
        print('첫번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('첫번째 데코레이터 끝')
        return result

    return new_function


def decorator2(function):
    def new_function(*args, **kwargs):
        print('두번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('두번째 데코레이터 끝')
        return result

    return new_function


def decorator3(function):
    def new_function(*args, **kwargs):
        print('세번째 데코레이터 시작')
        result = function(*args, **kwargs)
        print('세번째 데코레이터 끝')
        return result

    return new_function

@decorator1
@decorator2
@decorator3
def sum_1_to_n(n):
    return n * (n + 1) / 2

result = sum_1_to_n(30)

print(f'result: {result}')

첫번째 데코레이터 시작
두번째 데코레이터 시작
세번째 데코레이터 시작
세번째 데코레이터 끝
두번째 데코레이터 끝
첫번째 데코레이터 끝
result: 465.0

In [ ]:
def add(n):
    def decorator(function):
        def new_function(*args, **kwargs):
            result = function(*args, **kwargs)
            return result + n
        return new_function
    return decorator

@add(10)
def plus(a, b):
    return a + b

result = plus(10, 20)
print(f'result : {result}')

result : 40

# 37번
* 문제 변경

In [ ]:
# 1부터 10000까지 8이라는 숫자를 count하라!
# count를 할 수 있는 자료형으로 만드는 것이 핵심
# 순회를 돌면서 count는 위 답안이 잘 안풀렸을 때 대안 정도가 됩니다.
str(list(range(10000))).count('8')

4000

# 38번 문제

```
점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 : 6
```

In [ ]:
map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))

In [ ]:
set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' ')))

{55, 66, 75, 85, 86, 95, 97}

In [ ]:
sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))

[55, 66, 75, 85, 86, 95, 97]

In [ ]:
list(reversed(sorted(set(map(int, '97 86 75 66 55 97 85 97 97 95'.split(' '))))))[:3]

[97, 95, 86]

In [ ]:
# 1자리 점수가 등수에 들어갔을 때에는 오류가 나는 답
def solution(s):
    answer = 0
    splitdata = map(int, s.split(' '))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        answer += s.count(str(i))
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

97
95
86

6

In [ ]:
def solution(s):
    answer = 0
    splitdata = list(map(int, s.split(' ')))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        for j in list(splitdata):
            if i == j:
                answer += 1
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

6

In [ ]:
# map으로 된 데이터가 왜 한 번만 순회가 되었는지
# https://www.notion.so/paullabworkspace/python-zip-b7a1992be7884891a5f1d0a5c0c2df9c?pvs=4

def solution(s):
    answer = 0
    splitdata = map(int, s.split(' '))
    for i in list(reversed(sorted(set(splitdata))))[:3]:
        print(list(splitdata))
        for j in list(splitdata):
            if i == j:
                answer += 1
    return answer

solution('97 86 75 66 55 97 85 97 97 95')

[]
[]
[]

0

In [ ]:
import collections

collections.Counter('97 86 75 66 55 97 85 97 97 95'.split(' '))

Counter({'97': 4, '86': 1, '75': 1, '66': 1, '55': 1, '85': 1, '95': 1})

# 39번

In [ ]:
# q를 e로, b를 n

# 입력 : querty
# 출력 : euerty

# 입력 : hqllo my bamq is hyqwob
# 출력 : hello my bame is hyewob

'querty'.replace('q', 'e').replace('b', 'n')

'euerty'

In [ ]:
import re

result = re.sub('q', 'e', 'querty')
re.sub('b', 'n', result)

'euerty'

# 41번

* 1과 자기 자신 만을 약수로 가지는 수

In [ ]:
for i in range(2, 997):
    if 997 % i == 0:
        print('소수가 아닙니다!')
        break

In [ ]:
for i in range(2, 12):
    if 12 % i == 0:
        print('소수가 아닙니다!')
        break

소수가 아닙니다!

In [ ]:
def prime_list(n):
    # 에라토스테네스의 체 초기화: n개 요소에 True 설정(소수로 간주)
    sieve = [True] * n

    # n의 최대 약수가 sqrt(n) 이하이므로 i=sqrt(n)까지 검사
    m = int(n ** 0.5)
    for i in range(2, m + 1):
        if sieve[i] == True:           # i가 소수인 경우
            for j in range(i+i, n, i): # i이후 i의 배수들을 False 판정
                sieve[j] = False

    print(sieve) # 0부터 시작해서 i가 소수인경우 True

    # 소수 목록 산출
    return [i for i in range(2, n) if sieve[i] == True]

prime_list(100)

[True, True, True, True, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# 42번

In [ ]:
import datetime

date = datetime.datetime.today()
date

datetime.datetime(2023, 8, 10, 2, 8, 44, 344583)

In [ ]:
date.year

2023

In [ ]:
date.year, date.month, date.day

(2023, 8, 10)

In [ ]:
datetime.date(2023, 8, 10)
datetime.date(2023, 8, 10).weekday() # 0부터 월요일

3

# 43번

In [ ]:
bin(11)[2:]

'1011'

In [ ]:
5 // 2

2

In [ ]:
-5 // 2

-3

In [ ]:
# 음수 변환까지 하려면 좀 더 고려를 해야 합니다.
x = 11
s = ''
while x:
    print(x)
    s += str(x % 2)
    x //= 2
s[::-1]

#   2   | 11 ... 1
#        ---
#   2   |  5 ... 1
#        ---
#   2   |  2 ... 0
#        ---
#   2   |  1

11
5
2
1

'1011'

# 44번

In [ ]:
n = 1234
answer = 0
for i in str(n):
    answer += int(i)
answer

10

In [ ]:
n = 1234
sum(map(int, list(str(n))))

10

# 48번

In [ ]:
answer = ''
for i in 'AAABBBcccddd':
    if i.islower():
        answer += i.upper()
    else:
        answer += i.lower()
answer

'aaabbbCCCDDD'

# 53번

In [ ]:
s = '()()'
brackets = []
if s.count('(') != s.count(')'):
    print(False)
else:
    for i in s:
        if i == ')' or i == '(':
            brackets.append(i)
    print(brackets)

['(', ')', '(', ')']

In [ ]:
s = '()()'
brackets = []
if s.count('(') != s.count(')'):
    print(False)
else:
    print(brackets)
    for i in s:
        if i == '(':
            brackets.append(i)
        elif i == ')':
            if len(brackets) == 0:
                print(False)
            brackets.pop()
    print(True)

# 닫기가 나왔을 때의 pop하는 사례를 생각해보면
# (( )) -> 잘 맞아 떨어집니다.
# ()() -> 잘 맞아 떨어집니다.
# ((()())) -> 잘 맞아 떨어집니다.

False

# 54번

In [ ]:
value = list(map(int, '1 2 4 3 5'.split(' ')))
value

[1, 2, 4, 3, 5]

In [ ]:
sorted(value)

[1, 2, 3, 4, 5]

In [ ]:
list(range(min(value), min(value) + len(value)))

[1, 2, 3, 4, 5]

In [ ]:
list(range(min(value), min(value) + len(value))) == sorted(value)

True

In [ ]:
s1 = '1 2 3 4 5'
s2 = '1 4 2 6 3'
def solution(s):
    a = sorted(list(map(int, s.split(' '))))
    if a == list(range(min(a), max(a)+1)):
        return 'YES'
    else:
        return 'NO'

solution(s2)

'NO'

In [ ]:
def solution(num):
    num = num.split(' ')
    num = list(map(int, sorted(num)))
    for i in list(zip(num, num[1:])):
        if i[1] - i[0] != 1:
            return 'NO'
    return 'YES'

solution('1 4 2 6 3')

In [ ]:
# 일반적인 답
user_input = input().split(' ')
user_input = [int(i) for i in user_input]

def sol(l):
    l = sorted(l)
    for i in range(len(l) - 1):
        if l[i]+1 != l[i+1]:
            return 'NO'
    return 'YES'

print(sol(user_input))

# 55번

In [ ]:
# [[A, C], [A, B], [C, B], [A, C], [B, A], [B, C], [A, C]]
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    # 원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥])
        return None
    # 원반의 n-1개를 경유기둥으로 옮기고
    하노이(원반의수-1, 시작기둥, 보조기둥, 목표기둥)
    # 가장 큰 원반은 목표기둥으로
    원판의이동경로.append([시작기둥, 목표기둥])
    # 경유기둥과 시작기둥을 바꿉니다!
    하노이(원반의수-1, 보조기둥, 목표기둥, 시작기둥)

하노이(3,'A','C','B')

print(len(원판의이동경로))
원판의이동경로

7

[['A', 'C'],
 ['A', 'B'],
 ['C', 'B'],
 ['A', 'C'],
 ['B', 'A'],
 ['B', 'C'],
 ['A', 'C']]

# 56번

In [ ]:
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900,
    'A': 543965,
}

nationWidth['korea']

220877

In [ ]:
nationWidth.pop('korea')

220877

In [ ]:
mini = float('inf')
result_key = ''
for key in nationWidth:
    value = nationWidth[key] - 220877
    if value < mini:
        mini = value
        result_key = key

result_key

'England'

In [ ]:
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900,
    'A': 543965,
}

# nationWidth['korea']
korea = nationWidth.pop('korea')
mini = float('inf')
result_key = ''
for key in nationWidth:
    value = nationWidth[key] - korea
    if value < mini:
        mini = value
        result_key = key

result_key

'England'

In [ ]:
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

def f(key):
    return nationWidth[key]

list(map(f, nationWidth))
max(map(f, nationWidth)) # values에 max를 해도 되는데?

17098242

In [ ]:
nationWidth = {
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

def f(key):
    return nationWidth[key] - 220877

list(map(f, nationWidth))
min(map(f, nationWidth))

22023

In [ ]:
nationWidth = {
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

def f(key):
    return [nationWidth[key] - 220877, key]

list(map(f, nationWidth))
min(map(f, nationWidth))

[22023, 'England']

In [ ]:
nationWidth = {
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

min(map(lambda key: [nationWidth[key] - 220877, key], nationWidth))[1]

'England'

In [ ]:
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900
}

for i in nationWidth:
    print(i)

korea
Rusia
China
France
Japan
England

# 59번

In [ ]:
# 입력
# hi

# 출력
# ========================hi========================

In [ ]:
userInput = 'hi'
print('{0:=^50}'.format(userInput))
print(f'{userInput:=^50}')

========================hi========================
========================hi========================

In [ ]:
userInput = 'hi'
print(f'{userInput:!^50}')

!!!!!!!!!!!!!!!!!!!!!!!!hi!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
print(f'{userInput:!<50}')
print(f'{userInput:!>50}')

hi!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!hi

In [ ]:
n = 50
userInput = 'hello world'
('=' * (50//2)) + userInput + ('=' * (50//2))
('=' * ((50//2) - len(userInput)//2)) + userInput + ('=' * ((50//2) - len(userInput)//2))

'====================hello world===================='

# 60번

In [ ]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
for num, name in enumerate(student, 1):
    print(num, name)

1 강은지
2 김유정
3 박현서
4 최성훈
5 홍유진
6 박지호
7 권윤일
8 김채리
9 한지호
10 김진이
11 김민호
12 강채연

# 61번

In [ ]:
# 입력
# aaabbbbcddddaaabbbbcdddd

# 출력
# a3b4c1d4a3b4c1d4

s = 'aaabbbbcddddaaabbbbcdddd'
answer = ''
count = 0
pre = s[0]
for i in s:
    # print(pre, i)
    if pre == i:
        count += 1
    else:
        answer += pre + str(count)
        pre = i
        count = 1

answer += pre + str(count)

answer

'a3b4c1d4a3b4c1d4'

In [ ]:
import re

s = 'aaabbbbcddddaaabbbbcdddd'
re.findall('(\\w)(\\1*)', s)

[('a', 'aa'),
 ('b', 'bbb'),
 ('c', ''),
 ('d', 'ddd'),
 ('a', 'aa'),
 ('b', 'bbb'),
 ('c', ''),
 ('d', 'ddd')]

In [ ]:
import re

s = 'aaabbbbcddddaaabbbbcdddd'
answer = ''

for i in re.findall('(\\w)(\\1*)', s):
    answer += i[0] + str(len(i[1])+1)

answer

'a3b4c1d4a3b4c1d4'

# 62번

In [ ]:
string = 'aacddddddddd'
a = string.count('a') #2
b = string.count('b') #0
c = string.count('c') #1
d = string.count('d') #9

print(int(str(a)+str(b)+str(c)+str(d)+str(b)+str(d)+str(a)+str(a+1)))

20190923

# 65번

In [ ]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

[i for i in zip(a, b)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

In [ ]:
result = []
for i in range(4):
    if i % 2 == 0:
        result.append([a[i], b[i]])
    else:
        result.append([b[i], a[i]])

result

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

In [ ]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

x = list(zip(a, b))
y = list(zip(b, a))
x

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
result = []

for i in range(4):
    if i % 2 == 0:
        result.append(x[i])
    else:
        result.append(y[i])

result

[(1, 'a'), ('b', 2), (3, 'c'), ('d', 4)]

In [ ]:
x[::2], y[1::2]

([(1, 'a'), (3, 'c')], [('b', 2), ('d', 4)])

In [ ]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

print(list(map(lambda x: x[::-1] if x[0] % 2 == 0 else x, list(zip(a, b)))))
print(list(map(lambda x: x[::-1] if x[0] % 2 == 0 else x, [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])))

[(1, 'a'), ('b', 2), (3, 'c'), ('d', 4)]
[(1, 'a'), ('b', 2), (3, 'c'), ('d', 4)]

In [ ]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

x = list(zip(a, b))
y = list(zip(b, a))

answer = []
list(map(lambda num: x[num] if num % 2 == 0 else y[num], range(len(a))))

[(1, 'a'), ('b', 2), (3, 'c'), ('d', 4)]

# 66번

In [ ]:
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

answer = []

for t in 탑:
    규칙인덱스 = [rule for rule in 규칙]
    print(규칙인덱스)

['A', 'B', 'D']
['A', 'B', 'D']
['A', 'B', 'D']
['A', 'B', 'D']

In [ ]:
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

answer = []

for t in 탑:
    규칙인덱스 = [rule for rule in 규칙 if rule in t]
    print(규칙인덱스)

['A', 'B', 'D']
['A', 'B', 'D']
['A', 'D']
['B', 'D']

In [ ]:
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

answer = []

for t in 탑:
    규칙인덱스 = [t.index(rule) for rule in 규칙 if rule in t]
    print(규칙인덱스)
    if 규칙인덱스 == sorted(규칙인덱스):
        print('가능')
    else:
        print('불가능')

# 'A'가 중복해서 나오는 경우 -> 규칙에서 허락하지 않음
# 아무런 문자열을 찾지 못하는 경우 -> 현재 위 코드로 error를 출력하진 않음

[]
가능
[2, 0, 3]
불가능
[0, 1]
가능
[0, 2]
가능

In [ ]:
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

answer = []

for t in 탑:
    규칙인덱스 = [t.index(rule) for rule in 규칙 if rule in t]
    print(규칙인덱스)
    if 규칙인덱스 == sorted(규칙인덱스):
        answer.append('가능')
    else:
        answer.append('불가능')

[0, 1, 3]
[2, 0, 3]
[0, 1]
[0, 2]

In [ ]:
# 2번째 풀이
rule = 'ABD'
x = "ABCDEF"
[x.find(r) for r in rule if x.find(r) != -1]

[0, 1, 3]

In [ ]:
all([True, True, True]) # 다 True여야 True
all([True, True, False])
any([True, True, False]) # 하나라도 True이면 True

True

In [ ]:
result = [[0, 1, 3]]
x = "ABCDEF"
list(map(lambda x: '가능' if all(x[i] < x[i+1] for i in range(len(x)-1)) else '불가능', result))

['가능']

In [ ]:
def solution(x):
    if all(x[i] < x[i+1] for i in range(len(x)-1)):
        return '가능'
    else:
        return '불가능'

solution([0, 1, 3])

'가능'

In [ ]:
def solution(x):
    if all(x[i] < x[i+1] for i in range(len(x)-1)):
        return '가능'
    else:
        return '불가능'

solution([5, 1, 3])

'불가능'

In [ ]:
input = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
rule = list(rule)
result = list(map(lambda x: [x.find(r) for r in rule if x.find(r) != -1], input))
list(map(lambda x: '가능' if all(x[i] < x[i+1] for i in range(len(x)-1)) else '불가능', result))

In [ ]:
# 쉬운풀이
string = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
rule = "ABD"

def solution(s, rule):
    temp = 0
    for i in s: #i:'D', s:"ABCDEF"
        if i in rule:
            if temp > rule.index(i): # rule.index(i): 문자가 rule에 있다면 몇 번째에 있는지(1 > 3)
                return '불가능'
            temp = rule.index(i)
    return '가능'

solution(string[3], rule)

'가능'

# 67번

In [ ]:
# 2명[a, b] - [a, b], 1번
# 3명[a, b, c] - [a, b], [a, c], [b, c], 3번
# 조합(2명이 들어가는 조합)

In [ ]:
from itertools import combinations

n = 4
nums = range(n)
combi = list(combinations(nums, 2))
combi

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

In [ ]:
from itertools import combinations

n = 10 + 1
nums = range(n)
combi = list(combinations(nums, 2))
59 - len(combi)

4

In [ ]:
from itertools import combinations

n = 11
nums = range(n)
combi = list(combinations(nums, 2))
59 - len(combi)

4

In [ ]:
# 1. 데이터
# graph = {'E': set(['D', 'A']),
#          'F': set(['D']),
#          'A': set(['E', 'C', 'B']),
#          'B': set(['A']),
#          'C': set(['A']),
#          'D': set(['E','F'])}

# 2. 출력
# ['E', 'A', 'B', 'C', 'D', 'F']

# 3. 코드
graph = {
        'A': set(['B', 'C', 'E']),
        'B': set(['A']),
        'C': set(['A']),
        'D': set(['E', 'F']),
        'E': set(['A', 'D']),
        'F': set(['D'])
}

def dfs(graph, start):
    visited = []
    stack = [start]

    while stack:
        n = stack.pop()
        if n not in visited:
            visited.append(n)
            stack += graph[n] - set(visited)
    return visited

print(dfs(graph, 'E'))

['E', 'A', 'B', 'C', 'D', 'F']

# 76번 문제

In [ ]:
사각형 = 5
탐색가능지역 = 3

지뢰밭 = [[1, 0, 0, 1, 0],
          [0, 1, 0, 0, 1],
          [0, 0, 0, 1, 0],
          [0, 0, 0, 0, 0],
          [0, 0, 1, 0, 0]]

In [ ]:
import numpy as np

arr = np.array(지뢰밭)

In [ ]:
arr[0:3, 0:3]

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 0]])

In [ ]:
arr[0:3, 0:3].sum()

2

In [ ]:
arr

array([[1, 0, 0, 1, 0],
       [0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0]])

In [ ]:
print(arr[0:3, 0:3])
print(arr[0:3, 1:4])
print(arr[0:3, 2:5])
# print(arr[0:3, 3:6])
print(arr[1:4, 0:3])
print(arr[1:4, 1:4])
print(arr[1:4, 2:5])

print(arr[2:5, 0:3])
print(arr[2:5, 1:4])
print(arr[2:5, 2:5])

In [ ]:
사각형 = 5
탐색가능지역 = 3
for i in range(사각형 - 탐색가능지역 + 1):
    # print(arr[i:i+탐색가능지역, 0:3])
    print(f'[{i}:{i+탐색가능지역}, 0:3]')

[0:3, 0:3]
[1:4, 0:3]
[2:5, 0:3]

In [ ]:
사각형 = 5
탐색가능지역 = 3
for i in range(사각형 - 탐색가능지역 + 1):
    for j in range(사각형 - 탐색가능지역 + 1):
        print(f'[{i}:{i+탐색가능지역}, {j}:{j+탐색가능지역}]')

[0:3, 0:3]
[0:3, 1:4]
[0:3, 2:5]
[1:4, 0:3]
[1:4, 1:4]
[1:4, 2:5]
[2:5, 0:3]
[2:5, 1:4]
[2:5, 2:5]

In [ ]:
arr

array([[1, 0, 0, 1, 0],
       [0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0]])

In [ ]:
사각형 = 5
탐색가능지역 = 3
for i in range(사각형 - 탐색가능지역 + 1):
    for j in range(사각형 - 탐색가능지역 + 1):
        print(arr[i:i+탐색가능지역, j:j+탐색가능지역])

In [ ]:
사각형 = 5
탐색가능지역 = 3
answer = []
for i in range(사각형 - 탐색가능지역 + 1):
    for j in range(사각형 - 탐색가능지역 + 1):
        answer.append(arr[i:i+탐색가능지역, j:j+탐색가능지역].sum())

max(answer)

3

In [ ]:
answer = [[1, 0, 0],
          [0, 1, 0],
          [0, 0, 0]]

# sum(answer) # error
sum(answer, [])
sum(sum(answer, []))

[1, 0, 0, 0, 1, 0, 0, 0, 0]

# 78번

In [ ]:
from collections import deque

n = 6
f = 2
food = list(range(1, n + 1))
food

[1, 2, 3, 4, 5, 6]

In [ ]:
food_r = deque(food)
food_r.popleft()
food_r.rotate(-2)
food_r

deque([4, 5, 6, 2, 3])

In [ ]:
food_r = deque(food)
print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

print(f'먹은 음식: {food_r.popleft()}')
food_r.rotate(-2)
print(f'회전 후: {food_r}')

먹은 음식: 1
회전 후: deque([4, 5, 6, 2, 3])
먹은 음식: 4
회전 후: deque([2, 3, 5, 6])
먹은 음식: 2
회전 후: deque([6, 3, 5])
먹은 음식: 6
회전 후: deque([3, 5])

In [ ]:
from collections import deque

def solution(n, k):
    food = range(1, n + 1)
    food_r = deque(food)

    while len(food_r) > 2:
        print(f'먹은 음식: {food_r.popleft()}')
        food_r.rotate(-(k-1))
        print(f'회전 후: {food_r}')

    return list(food_r)

solution(6, 3)

먹은 음식: 1
회전 후: deque([4, 5, 6, 2, 3])
먹은 음식: 4
회전 후: deque([2, 3, 5, 6])
먹은 음식: 2
회전 후: deque([6, 3, 5])
먹은 음식: 6
회전 후: deque([3, 5])

[3, 5]

# 81번

In [ ]:
matrix = [
    [0, 1, 0, 0, 0],
    [0, 0, 0, 0, 0],
    [0, 0, 0, 1, 0],
    [0, 0, 1, 0, 0],
    [0, 0, 0, 0, 0]
]

In [ ]:
import numpy as np

m = np.array(matrix)
print(np.where(m == 1))
value = list(map(list, np.where(m == 1)))
list(zip(value[0], value[1]))

(array([0, 2, 3]), array([1, 3, 2]))

[(0, 1), (2, 3), (3, 2)]

In [ ]:
matrix = [
    [1, 0, 0, 0, 1],
    [0, 0, 0, 0, 0],
    [0, 0, 0, 1, 0],
    [0, 0, 1, 0, 0],
    [1, 0, 0, 0, 1]
]

In [ ]:
import numpy as np

matrix_arr = np.array(matrix)
matrix_arr = np.where(matrix_arr==1, 'f', matrix_arr)

for v, h in zip(np.where(matrix_arr=='f')[0], np.where(matrix_arr=='f')[1]):

    if v != 0:
        matrix_arr[v-1, h] = '*'
    if h != 0:
        matrix_arr[v, h-1] = '*'
    if v+1 < matrix_arr.shape[0]:
        matrix_arr[v+1, h] = '*'
    if h+1 < matrix_arr.shape[1]:
        matrix_arr[v, h+1] = '*'

print(matrix_arr)

[['f' '*' '0' '*' 'f']
 ['*' '0' '0' '*' '*']
 ['0' '0' '*' 'f' '*']
 ['*' '*' 'f' '*' '*']
 ['f' '*' '*' '*' 'f']]

In [ ]:
import numpy as np

matrix_arr = np.array(matrix)
matrix_arr = np.where(matrix_arr==1, 'f', matrix_arr)

for v, h in zip(np.where(matrix_arr=='f')[0], np.where(matrix_arr=='f')[1]):

    if v != 0:
        matrix_arr[v-1, h] = '*'
    if h != 0:
        matrix_arr[v, h-1] = '*'
    if v+1 <= matrix_arr.shape[0]:
        matrix_arr[v+1, h] = '*'
    if h+1 <= matrix_arr.shape[1]:
        matrix_arr[v, h+1] = '*'

print(matrix_arr)